/*---- Navbar Section---*/
@keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}

@-webkit-keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}

.header-section {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 99;
	padding: 15px 15px 0;
}

.header-warp {
	max-width: 1400px;
	margin: 0 auto;
}

.header-social p,
.footer-social p,
.geme-social-share p {
	display: inline-block;
	color: #9190a5;
	font-size: 16px;
	padding-top: 4px;
}

.header-social a,
.footer-social a,
.geme-social-share a {
	display: -ms-inline-flex;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	width: 32px;
	height: 32px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	border-radius: 50%;
	color: #fff;
	font-size: 12px;
	margin-left: 13px;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.header-social a:hover,
.footer-social a:hover,
.geme-social-share a:hover {
	background: #b01ba5;
}

.header-bar-warp {
	 background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(39,4,70,1) 49%, rgba(0,0,0,1) 100%); 
	-webkit-box-shadow: 0 0 9px 3px rgba(226, 30, 228, 0.24);
	box-shadow: 0 0 9px 3px rgba(226, 30, 228, 0.24);
}

.site-logo {
	float: left;
}

.main-menu {
	list-style: none;
	text-align: center;
	padding-top: 3px;
}

.main-menu li {
	display: inline-block;
	position: relative;
    font-family: 'Orbitron', sans-serif;
}

.main-menu li a {
	display: block;
	font-size: 14px;
	font-weight: 800;
	color: #c7a3df;
	margin-right: 40px;
	padding-bottom: 28px;
	position: relative;
	padding-right: 20px;
    text-transform: uppercase ;
    letter-spacing:1.5px;
}

.main-menu li a:after {
	position: absolute;
	content: "";
	width: 20px;
	height: 20px;
	right: 0;
	top: 1px;
	
	background-repeat: no-repeat;
	background-position: right center;
}

.main-menu li a i {
	color: #928d92;
	margin-left: 5px;
}

.main-menu li a:hover {
	color: black;
     font-size: 17px;
    font-weight: 500 ;
       text-shadow: 0 0 10px white ,
                   0 0 20px white ,
                   0 0 40px white ,
                   0 0 80px white ,
                   0 0 120px white ;
    letter-spacing: 1.5px ;
}


.main-menu li a:hover i {
	color: black;
     font-size: 17px;
    font-weight: 500 ;
       text-shadow: 0 0 10px white ,
                   0 0 20px white ,
                   0 0 40px white ,
                   0 0 80px white ,
                   0 0 120px white ;
    letter-spacing: 1.5px ;
}

.main-menu li:hover .sub-menu {
	visibility: visible;
	opacity: 1;
	margin-top: 0;
}

.main-menu li:hover>a {
	color: black;
     font-size: 17px;
    font-weight: 500 ;
         text-shadow: 0 0 10px white ,
                   0 0 20px white ,
                   0 0 40px white ,
                   0 0 80px white ,
                   0 0 120px white ;
    letter-spacing: 1.5px ;
}


.main-menu li .sub-menu {
	position: absolute;
	list-style: none;
	text-align: left;
	width: 220px;
	left: 0;
	top: 100%;
	padding: 20px 0;
	visibility: hidden;
	opacity: 0;
	margin-top: 50px;
	background: #fff;
	z-index: 99;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
	-webkit-box-shadow: 2px 7px 20px rgba(0, 0, 0, 0.4);
	box-shadow: 2px 7px 20px rgba(0, 0, 0, 0.4);
    
}

.main-menu li .sub-menu li {
	display: block;
    
}

.main-menu li .sub-menu li a {
	display: block;
	color: #000;
	margin-right: 0;
	padding: 8px 30px;
    
}

.main-menu li .sub-menu li a:after {
	display: none; 
   
}

.main-menu li .sub-menu li a:hover {
	color: #b01ba5;
    
}
.slicknav_menu {
	display: none;
}

/*-- End Navbar Section--*/
#about {
  background: #501755;
	background: -webkit-linear-gradient(45deg, #501755 0%, #2d1854 100%);
	background: -o-linear-gradient(45deg, #501755 0%, #2d1854 100%);
	background: linear-gradient(45deg, #501755 0%, #2d1854 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#501755', endColorstr='#2d1854', GradientType=1);
    padding: 10px;
}
#about .about-img {
  overflow: hidden;
    
}
#about .about-img img {
  max-width: 100%;
    border-radius:20px;
}
@media (max-width: 768px) {
  #about .about-img {
    height: auto;
  }
  #about .about-img img {
    margin-left: 0;
    
    
  }
}

#about .about-title {
  color: #333;
  font-weight: 600;
  font-size: 28px;
    font-family: 'Dosis', sans-serif;
    color: white;
    letter-spacing:0.5px;
}
#about .about-text {
  line-height: 30px;
  margin-bottom: 15px;
    font-family: 'Dosis', sans-serif;
 color: white;
    letter-spacing:1px;
    font-size:21px;
}
#about .about-text:last-child {
  margin-bottom: 0;
}

.section-title {
  font-size: 32px;
  text-transform: uppercase;
  text-align: left;
    margin-top:20px;
  font-weight: 600;
    font-family: 'Dosis', sans-serif;
    letter-spacing:1px;
}
.section-description {
  text-align: left;
  margin-bottom: 40px;
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
    color:white;
    letter-spacing: 1px;
}
.section-title-divider {
  width: 150px;
  height: 2px;
  background: white;
    align-content: left;
  margin-bottom: 20px;
}

.vission{
    color:white;
    font-family: 'Saira', sans-serif;
    text-align: center;
}
.para{color: white;
    font-family: 'Dosis', sans-serif;
    text-align: center;
    font-size:14pt;


}

/*---2nd Section----*/
.games-section {
	background: #a4235c;
    background-image: -moz-linear-gradient(120deg, #df42b1 0%, #505add 100%);
    background-image: -webkit-linear-gradient(120deg, #73064b 0%, #6e0278 100%);
    background-image: -ms-linear-gradient(120deg, #df42b1 0%, #505add 100%);

}


.game-item {
	position: relative;
    text-align: center;
    font-family: 'Dosis', sans-serif;
}
.game-item2 { 
    position: relative;
    margin-top:50px;
    text-align: center;
    font-family: 'Dosis', sans-serif;
}

    
.amit{
    color: #fff;
	margin-bottom: 70px;
    font-size: 25px;
    font-weight: 600;
   
    letter-spacing:1.5px;
    margin-top:35px;
    text-decoration:none;
}
.ebda3 {

	color: #fff;
	margin-bottom: 70px;
    margin-top:18px;
    font-size: 25px;
    font-weight: 600;
   font-family: 'Dosis', sans-serif;
    letter-spacing:1.5px; 
    text-decoration:none;
}


.ebda3:hover{
    color:rebeccapurple;
    text-decoration:none;
}
.amit:hover{
    color:rebeccapurple;
    text-decoration:none;
}

.section2 {
	background: #c63fa4;
    background-image: -moz-linear-gradient(120deg, #df42b1 0%, #505add 100%);
    background-image: -webkit-linear-gradient(120deg, #df42b1 0%, #505add 100%);
    background-image: -ms-linear-gradient(120deg, #df42b1 0%, #505add 100%);
}
.section-title2 {
    
   font-size: 32px;
  color: #111;
  text-align: center;
    margin-top:20px;
  font-weight: 600;
    font-family: 'Dosis', sans-serif;
    color: white;
    letter-spacing:1px;
}
.history{
    color: white;
    font-family: 'Dosis', sans-serif;
    text-align: center;
    font-weight: 600;
    letter-spacing:1px;
}
/*----------
      Soul Fields
     --------*/
.fields h5{color: white; 
    font-size:24px;
    text-align:center;
    font-weight:600;
    font-family: 'Saira', sans-serif;
    
}
.fields img{
    border-radius:25px;
    
}
.fields p{color: white; 
    font-size:20px;
    font-family: 'Dosis', sans-serif;
    text-align:center
}
/* ----------------
  Responsive
---------------------*/

@media (min-width: 1200px) {
	.container {
		max-width: 1175px;
	}
}

@media (max-width: 1530px) {
	.hero-slider .owl-dots {
		width: 1170px;
		left: calc(50% - 585px);
	}
}

/* Medium screen : 992px. */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.blog-item .blog-thumb {
		width: 250px;
	}
	.hero-item p {
		font-size: 22px;
	}
	.hero-slider .owl-nav .owl-next {
		right: 30px;
	}
	.hero-slider .owl-dots {
		width: 930px;
		left: calc(50% - 465px);
	}
	.newsletter-form {
		padding-left: 0;
	}
	.newsletter-form input {
		width: 100%;
		margin-right: 0;
		margin-bottom: 40px;
	}
	.game-filter li {
		width: 31px;
		height: 31px;
	}
	.game-filter li a {
		padding-top: 5px;
	}
}

/* Tablet :768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.header-bar-warp {
		padding: 39px 15px 0;
	}
	.main-menu li a {
		margin-right: 10px;
	}
	.hero-item h2 {
		font-size: 110px;
	}
	.hero-item p {
		font-size: 16px;
		padding: 0 30px;
	}
	.hero-slider .owl-nav .owl-next {
		right: 0;
	}
	.hero-slider .owl-dots {
		width: 690px;
		left: calc(50% - 345px);
	}
	.blog-item .blog-thumb {
		float: none;
		margin-right: 0;
		width: 100%;
		margin-bottom: 30px;
	}
	.featured-bg {
		display: none;
	}
	.featured-box {
		float: none;
		width: 100%;
	}
	.newsletter-form input {
		width: 100%;
		margin-right: 0;
		margin-bottom: 40px;
	}
	.footer-right-pic {
		right: 15px;
	}
	.footer-left-pic {
		left: -44px;
	}
	.game-filter {
		text-align: center;
	}
	.game-filter li {
		margin-bottom: 5px;
	}
	.game-single-content .gs-title {
		font-size: 40px;
	}
	.review-pic img {
		min-width: 100%;
		margin-bottom: 30px;
	}
	.contact-text {
		margin-bottom: 50px;
	}
}

/* Large Mobile :480px. */

@media only screen and (max-width: 767px) {
	.header-bar-warp {
		padding: 25px 20px 10px;
	}
	.main-menu.primary-menu {
		display: none;
	}
	.slicknav_menu {
		display: block;
		background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(39,4,70,1) 49%, rgba(0,0,0,1) 100%); 
	}
	.slicknav_btn {
		margin-right: 10px;
		background: #3a3a3a;
	}
	.slicknav_nav a:hover,
	.slicknav_nav .slicknav_row:hover {
		background: #25394c;
		color: #fff;
	}
	.hero-item h2 {
		font-size: 70px;
	}
	.hero-item p {
		font-size: 18px;
	}
	.footer-right-pic,
	.footer-left-pic {
		display: none;
	}
	.hero-slider .owl-nav .owl-next {
		top: auto;
		bottom: 33px;
		right: 15px;
		z-index: 99;
	}
	.hero-slider .owl-dots {
		width: 100%;
		left: 0;
		padding-left: 15px;
	}
	.intro-text-box {
		margin-bottom: 40px;
	}
	.blog-item .blog-thumb {
		float: none;
		margin-right: 0;
		width: 100%;
		margin-bottom: 30px;
	}
	.sidebar {
		padding-top: 60px;
	}
	.featured-bg {
		display: none;
	}
	.featured-box {
		float: none;
		width: 100%;
	}
	.featured-box .text-box h3 {
		font-size: 45px;
	}
	.newsletter-form {
		padding-left: 0;
	}
	.newsletter-form input {
		width: 100%;
		margin-right: 0;
		margin-bottom: 40px;
	}
	.video-text:after {
		left: 0;
	}
	.page-top-section {
		height: 400px;
		padding-top: 250px;
	}
	.game-filter {
		text-align: center;
	}
	.game-filter li {
		margin-bottom: 5px;
	}
	.game-single-content .gs-title {
		font-size: 40px;
	}
	.review-pic img {
		min-width: 100%;
		margin-bottom: 30px;
	}
	.contact-text {
		margin-bottom: 50px;
	}
	.review-content .rating {
		position: relative;
		margin-bottom: 20px;
	}
	.review-content .rating h5 {
		text-align: left;
		padding-right: 0;
	}
}

/* Small Mobile :320px. */

@media only screen and (max-width: 479px) {
	.hero-item h2 {
		font-size: 55px;
		margin-bottom: 20px;
	}
	.hero-item p {
		font-size: 15px;
	}
	.video-text h2 {
		font-size: 30px;
	}
	.video-play-btn {
		top: calc(30% - 61px);
	}
	.featured-box {
		padding: 100px 15px;
	}
	.featured-box .text-box h3,
	.newsletter-section h2 {
		font-size: 35px;
	}
	.main-menu li a {
		margin-right: 20px;
	}
	.game-author-pic {
		float: none;
		margin-bottom: 20px;
	}
}