.d-block{
   
    width: 100%
}

@media only screen and (max-width: 767px) {
    
    .carousel-inner{padding-top:90px; 
        height:450px;
    }
    
}
.breadcrumb-area h2{
     font-family: 'lalezar', sans-serif;
    font-weight:300
}

.breadcrumb-area p{
     font-family: 'lalezar', sans-serif;
    font-weight:100
}
.breadcrumb-area a{
     font-family: 'saira', sans-serif;
    font-weight:500
}
.site-logoo{width: 140px;
margin-left:20px;}