

/*
Author: Bootstrapthemes
Author URI: http://www.bootstrapthemes.co
*/

/* Portrait tablets and medium desktops */
@media (max-width: 1199px) {
    body {
        font-size: 1rem;
    }







}

/* Portrait tablets and small desktops */
@media (max-width: 991px) {
    html {
        font-size: 90%;
    }

    h3 {
        font-size: 1.575rem;
        line-height: 2rem;
        margin-bottom: 15px;
    }
    h5 {
        font-size: 1.1rem;
        margin-bottom: .5rem;
        color: #696f7c;
        line-height: 1.475rem;
    }
    h4 {
        font-size: 1.225rem;
        line-height: 2rem;
    }
    #quote-carousel .carousel-control.left {
        left: 120px;
    }
    #quote-carousel .carousel-control.right {
        right: 120px;
    }   




}
/* Landscape phones and portrait tablets */
@media  (max-width: 768px) {
    html {
        font-size: 80%;
    }
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        border-color: transparent;
        background-color: rgba(67, 52, 108, 0.5);
        text-align: center;
    }
    .main_menu_bg .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{
        border-bottom: 0px solid;
    }
    .main_clinetslogo{
        margin-top:30px;
    }    
    .grid-item {
        width: 49.93%;
    }
    .portfolio .grid_item_overlay {
        padding-top: 37%;
    }
    .copyright_text{
        text-align: center;
    }
    .footer_socail{ 
        text-align: center;
    }
    .footer_subcribs_area .navbar-form {
        padding: 10px;
    }
    #quote-carousel .carousel-control.left {
        left: 80px;
    }
    #quote-carousel .carousel-control.right {
        right: 80px;
    } 
    .single_widget ul li a i{
        width:3%;
        margin-right:2%;
    }
    
    
	.header-bar-warp {
		padding: 25px 20px 10px;
	}
	.main-menu.primary-menu {
		display: none;
	}
	.slicknav_menu {
		display: block;
		background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(39,4,70,1) 49%, rgba(0,0,0,1) 100%); 
	}
	.slicknav_btn {
		margin-right: 10px;
		background: #3a3a3a;
	}
	.slicknav_nav a:hover,
	.slicknav_nav .slicknav_row:hover {
		background: #25394c;
		color: #fff;
	}





/* Landscape phones and smaller */
@media (max-width: 479px) {
    html {
        font-size: 65%;
    }
    #quote-carousel .carousel-control.left {
        display: none;
    }
    #quote-carousel .carousel-control.right {
        display: none;
    } 
    #quote-carousel .carousel-indicators li {
        width: 30px;
        height: 30px;
    }
    #quote-carousel .carousel-indicators .active {
        width: 35px;
        height: 35px;
    } 


}





@media (max-width: 320px) {


    html {
        font-size: 60.5%;
    }










}

